/build/
/upstream/
/*.deb
/*.build
/*.buildinfo
/*.changes
/*.dsc
/*.debian.tar.*
/*.orig.tar.*
/.pc/
/debian/.debhelper/
/debian/debhelper-build-stamp
/debian/files
/debian/fonts-nerd-symbols/
/debian/*.substvars
